.card__like {
  position: relative;
}

.card__like-button {
  position: relative;
  width: 21px;
  height: 18px;
  background: transparent url('../../../images/like-inactive.svg') no-repeat;
  background-size: 21px 18px;
  border: none;
  cursor: pointer;
  padding: 0;
  margin: 0;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.card__like-button:hover {
  opacity: 0.6;
}

.card__like-button_has-like {
  transform: translateY(-3px);
}

.card__like-counter {
  display: block;
  color: #000;
  visibility: hidden;
  opacity: 0;
  font-family: Inter, sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 15.73px;
  position: absolute;
  left: 50%;
  bottom: calc(-100% + 10px);
  transform: translateX(-50%);
  transition: visibility 0s, opacity .3s;
}

.card__like-counter_visible {
  visibility: visible;
  opacity: 1;
}
